*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50px;

}

header{
    color: rgb(229, 49, 112);
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}
   
main {
     font-family: 'Fredoka', sans-serif;
     padding-top: 2%;
     padding-left: 8%;
     padding-right: 8%;
     width: 1200px;
     margin: 0 auto;
     
}

.testo-al-cento{
    text-align: center;
    font-size: 0.8em;
    line-height: 1;
    padding-top: 20px;
}

.mail{
    color: rgb(53, 146, 203);
}

img{
    width: 80px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* box con nomi e foto */
article{
    display:inline-flex;
    width: calc(100% / 3);
    padding-top: 4%;
    padding-left: 3%;
    
    
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.pull-left{
    float: left;
}

/* riquadri neri con i nomi | professione | e-mail */
.box-neri{
    color:white;
    background-color: black;
    font-size: 0.8em;
    display: inline-block;
    width:100%;
    padding-left: 10px;
    padding-top: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);


}

