*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 50px;
}
header{
    color: rgb(229, 49, 112);
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}
   
main {
     font-family: 'Fredoka', sans-serif;
     padding:2% 8% 8% 10% ;
     width: 1200px;
     margin: 0 auto;
}
.testo-al-cento{
    text-align: center;
    font-size: 0.8em;
    line-height: 1;
    padding: 20px;
}

img{
    width: 80px;
}
article{
    display:inline-flex;
    width: 33%;
    padding-top: 2%;
    padding-left: 20px;
    padding-right: 20px;
    
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.pull-left{
    float: left;
}

.box-neri{
    color:white;
    background-color: black;
    font-size: 0.8em;
    display: inline-block;
    width:100%;
    padding-left: 8px;
    padding-top: 10px;


}

.mail{
    color: rgb(53, 146, 203);
}
