/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-dark:black;
    --color-light:white;
    --color-azul:rgb(53, 146, 203);
    --color-title:rgb(229, 49, 112);
    --color-shadow:rgb(82, 82, 82);
}

body{
    padding: 50px; 
    font-family: 'Fredoka', sans-serif;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

/* content */
header{
    color:var(--color-title);
    text-align: center;
    font-weight: 600;
    padding: 20px 0;
}
   
main {
     padding-left: 8%;
     padding-right: 8%;
     width: 1200px;
     margin: 0 auto;     
}

img{
    width: 80px;
    box-shadow: 5px 5px 10px var(--color-shadow);
}

.testo-al-cento{
    text-align: center;
    font-size: 0.8em;
    line-height: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* box con nomi e foto */
.article{
    display:inline-flex;
    width: calc(100% / 3 - 10px);
    margin: 5px;
}

.mail{
    color:var(--color-azul);
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.pull-left{
    float: left;
}

/* riquadri neri con i nomi | professione | e-mail */
.box-neri{
    color:var(--color-light);
    background-color: var(--color-dark);
    font-size: 0.8em;
    display: inline-block;
    width:100%;
    padding-left: 10px;
    padding-top: 10px;
    box-shadow: 5px 5px 10px var(--color-shadow);
}

